

:root {
    --res-color-1: #001123;
    --res-color-2: #04080b;
}



.col-xs-2 {
    padding:5px;
}

#add_btn {
    color: white;
    background: rgba(2, 2, 44, 0.555);
}


.btn-dark {
    background-color: #05111e;
    border-color: #05111e;
}

/* Tooltip container */
.tooltip {
    position: relative;
    display: inline-block;
 /* If you want dots under the hoverable text */
  }
  
  /* Tooltip text */
  .tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
   
    /* Position the tooltip text - see examples below! */
    position: absolute;
    z-index: 1;
  }
  
  /* Show the tooltip text when you mouse over the tooltip container */
  .tooltip:hover .tooltiptext {
    visibility: visible;
  }

  .tooltip-inner {
    max-width:max-content;
    width: max-content;
    white-space: nowrap;
  }
  
  .container>.row.align-items-start {
    display: table-row;
  }
  
  .container>.row.align-items-start>* {
    display: table-cell;
    padding:5px;
    white-space:nowrap;
    
  }
  .container>.row.align-items-start>.col {
   width:100%;
   text-align: left;
  }

  .arrow {
    border: solid white;
    border-width: 0 5px 5px 0;
    display: inline-block;
    padding: 5px;
    margin: 3px;
  }
  
  .right {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
  }
  
  .left {
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
  }
  
  .up {
    transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
  }
  
  .down {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
  }

  .item-icon {
    width: 40px;
    display: inline;
  }

  .left-icon {
    margin-right: 10px;
  }

  .right-icon {
    margin-left: 10px;
  }

  h5 {
    display: inline;
  }

  .dropdown {
    display: inline;
  }
  .dropdown-menu {
    min-width:min-content;
    background:  #0000004d;
  }

  .dropdown-item {
    padding: 0em;
  }