.image-dir-item {
    width: 75%;
    background-color: #f2f2d0;
    text-align: left;
    padding-left: 1%;
    margin: 0.5%;
    border-radius: 2px;
    display: block;
    height: 2rem;
}
.image-dir {
    padding: 2%;
    width: 100%;
    border-radius: 2px;
}

.image-delete-btn {
    float: right;
    height: 100%;
    width: 2.5%;
    background-color: red;
    border-radius: 2px;
    margin-top: auto;
    display: inline;
    vertical-align: middle;
}

.image-text {
    display: inline;
    vertical-align: middle;
}