#login-container {
    width: 100%;
    height: 100vh;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
#login {
    text-align: center;
    color: white;
    width: 25%;
    height: 60%;
    background: linear-gradient(90deg, rgb(42, 1, 12), #000000);;

    border-radius: 5px;
}
#password {
    margin-top: 30%;
}
#login-but {
    border-style: solid;
    border-color: transparent;
    border-radius: 10px;
    background-color: crimson;
    margin-top: 30%;
    width: 80%;
    height: 10%;
}